<mat-card>
  <mat-card-header>
    <mat-card-title>Vacinnation Certificat</mat-card-title>
    <mat-card-subtitle>Greece</mat-card-subtitle>
  </mat-card-header>
  <img style="width: 60%; display: block; margin: 0 auto 16px;" mat-card-image
    src="https://raw.githubusercontent.com/eu-digital-green-certificates/dcc-quality-assurance/main/EL/1.3.0/VAC.png"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Scan the QR with your verifier and submit the results.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="next()">Previous</button>
    <button mat-button (click)="previous()">Next</button>
  </mat-card-actions>
</mat-card>