<div style="margin-bottom: 5px;">
  <mat-progress-bar class="example-margin" color="primary" mode="determinate" [value]="progress" [bufferValue]="value">
  </mat-progress-bar>
</div>
<mat-chip-list aria-label="Fish selection">
  <mat-chip>
    <mat-icon aria-hidden="false" aria-label="Example home icon">qr_code</mat-icon>
    {{analytics?.progress(null)}} / {{analytics?.codes()}}
  </mat-chip>
  <mat-chip color="primary" selected>
    Valid:
    {{analytics?.progress(testResult.Valid)}}
  </mat-chip>
  <mat-chip color="accent" selected>
    Invalid:
    {{analytics?.progress(testResult.Invalid)}}
  </mat-chip>
  <mat-chip color="warn" selected>
    Error:
    {{analytics?.progress(testResult.Error)}}
  </mat-chip>
</mat-chip-list>