<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>
        {{(!!item) ? icon(item.id) : 'qr_code'}}
      </mat-icon>
    </div>
    <mat-card-title>{{item?.title}}</mat-card-title>
    <mat-card-subtitle>Scan the QR with your verifier and submit the results.</mat-card-subtitle>
  </mat-card-header>
  <div class="dcc-qr-wrapper">
    <img class="dcc-qr" mat-card-image [src]="imagePath" alt="DCC QR code" (click)="zoom()">
  </div>
  <!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Base64
      </mat-panel-title>
    </mat-expansion-panel-header>
    <code>
          {{item?.qrcode64}}
        </code>
  </mat-expansion-panel> -->
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="previous()">Previous</button>
    <button mat-button (click)="next()">Next</button>
  </mat-card-actions>
</mat-card>