<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>
        {{(!!item) ? icon(item.id) : 'qr_code'}}
      </mat-icon>
    </div>
    <mat-card-title>{{item?.title}}</mat-card-title>
    <mat-card-subtitle>{{item?.country}}</mat-card-subtitle>
  </mat-card-header>
  <img style="width: 60%; display: block; margin: 0 auto 16px;" mat-card-image [src]="imagePath" alt="DCC QR code">
  <p>
    Scan the QR with your verifier and submit the results.
  </p>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Base64
      </mat-panel-title>
    </mat-expansion-panel-header>
    <code>
          {{item?.qrcode64}}
        </code>
  </mat-expansion-panel>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="previous()">Previous</button>
    <button mat-button (click)="next()">Next</button>
  </mat-card-actions>
</mat-card>