:host {
  display: flex;
  flex-direction: column;
}

.mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mat-card-header {
  background-position: 96% 10%;
  background-size: 74px;
  background-repeat: no-repeat;
}

.mat-card-header.dcc-ios {
  background-image: url(../../assets/logo-ios.png);
}

.mat-card-header.dcc-android {
  background-image: url(../../assets/logo-android.png);
  background-position: 96% -8px;
  background-size: 100px;
}

.mat-card-header.dcc-web {
  background-image: url(../../assets/logo-html5.png);
  background-position: 100% -3px;
  background-size: 77px;
}

.mat-card-content {
  flex-grow: 1;
  overflow: hidden;
}

textarea {
  background-color: #f5f5f5;
  color: #000;
  padding: 8px;
  font-family: courier new;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
}